<div class="container">
  <h1>Angular components</h1>
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>
  <app-post
    *ngFor="let item of posts"
    [currentPost]="item"
    [length]="item.text.length"
    (onRemove)="removePost($event)"
  >
    <div class="f" #info>
      <small *ngIf="item.text.length > 10; else smallBlock">This post is big</small>
      <ng-template #smallBlock>
        <small>This post is small</small>
      </ng-template>
    </div>
  </app-post>
</div>







